fastapi
uvicorn[standard]
python-multipart
qdrant-client
langchain
langchain-community
langchain-text-splitters
groq
PyMuPDF
python-docx
pandas
openpyxl
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
trafilatura
httpx
sentence-transformers
pyotp
qrcode[pil]
authlib
itsdangerous
Pillow
email-validator
python-dotenv
